.btn {
  cursor: pointer;
  border-radius: 6px;
  border: none;
  display: flex;
  justify-content: center;
  gap: 1rem;

  &--primary {
    background: linear-gradient(to bottom, $color-primary-light, $color-text);
    color: white;

    &:hover {
      background: linear-gradient(to bottom, $color-primary, $color-text-light);
    }
  }

  &--secondary {
    background: linear-gradient(to bottom, $color-secondary, $color-text);
    color: white;

    &:hover {
      background: linear-gradient(
        to bottom,
        $color-secondary-light,
        $color-text-light
      );
    }
  }

  &--sm {
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
    font-weight: 400;
  }

  &--lg {
    font-size: 1.7rem;
    padding: 0.7rem 1.5rem;
  }

  &--invert {
    border: 1px solid rgba($color-primary-light, 0.5);
    color: $color-primary;
    background-color: white;

    &:hover {
      border: 1px solid $color-primary;
      color: $color-primary-dark;
    }
  }
}
