.heading {
  font-weight: 600;
  margin-bottom: 1rem;

  &__primary {
    font-size: 3.5rem;

    @include respond(tab-port) {
      font-size: 3rem;
    }
  }

  &__secondary {
    font-size: 2.5rem;

    @include respond(tab-port) {
      font-size: 2rem;
    }
  }
}
