.opacity--50 {
  opacity: 50%;
}

.border--no {
  border: none !important;
}

.icon {
  &__cart {
    font-size: 2rem;
    color: #555;
    cursor: pointer;

    &:hover {
      color: #000;
    }
  }

  &__search {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.5);
  }

  &__male,
  &__female,
  &__hat,
  &__jacket,
  &__shoes,
  &__slippers,
  &__dress,
  &__shirt,
  &__shorts,
  &__pants,
  &__bag {
    font-size: 5rem;
    color: $color-primary;
  }

  &__fb {
    font-size: 2.5rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  &__tw {
    font-size: 2.85rem;
    margin-right: 0.6rem;
    cursor: pointer;
  }
  &__ig {
    font-size: 3rem;
    margin-right: 0.6rem;
    cursor: pointer;
  }
  &__yt {
    font-size: 3.35rem;
    cursor: pointer;
  }

  &__react {
    font-size: 1.5rem;
  }

  &__typscript {
    font-size: 1rem;
  }

  &__nodejs {
    font-size: 1.5rem;
  }
}
