.details-product {
  padding: 8.5rem 3rem 3rem 3rem;

  &__box {
    display: flex;
    gap: 3rem;
  }

  &--left {
    display: flex;
    gap: 1rem;
  }

  &__img {
    width: 35vw;
    height: fit-content;
    object-fit: cover;
    border-radius: 10px;
  }

  &__img--slider-box {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-bg
    );
    border-radius: 10px;
    gap: 0.5rem;
    padding: 0.4rem;
    height: fit-content;
  }

  &__img--link {
    width: 6rem;
    height: 6rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;

    &:focus {
      outline-style: solid;
      outline-color: $color-primary;
    }
  }

  &__img--slider {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &--right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &--title {
  }

  &--item {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__disc--box {
    display: flex;
    gap: 1rem;
  }

  &--price-before {
    font-size: 2rem;
    text-decoration: line-through;
    margin-right: 1rem;
  }

  &--disc {
    font-size: 2rem;
    color: red;
  }

  &__qty--label {
    margin: 1rem 0;
    font-size: 1.7rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__qty {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 6px;

    &--decrease {
      font-size: 3.5rem;
      cursor: pointer;
      color: $color-primary;
    }

    &--input {
      font-size: 1.7rem;
      width: 6rem;
      text-align: center;
      padding: 0.4rem 1rem;
      border: none;
      outline: none;
    }
    &--increase {
      color: $color-primary;
      font-size: 3.5rem;
      cursor: pointer;
    }
  }

  &__btn--box {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
  }

  &--desc {
    white-space: pre-wrap;
    font-size: 1.5rem;
    font-weight: 500;
  }
}
