.home {
  padding: 8.5rem 3rem 3rem 3rem;

  &__header {
  }

  &__see--all {
    text-decoration: none;
    font-size: 1.7rem;
    color: $color-text;
    border: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__btn--see-all {
    font-size: 3rem;
    color: $color-primary;

    &:hover {
      color: $color-text;
    }
  }

  &__product--scroll {
    overflow-x: auto;
  }

  &__product--title {
    font-size: 2rem;
    font-weight: 600;
    color: $color-text;
    padding: 2rem 1rem 1rem 1rem;
    margin-top: 2rem;
    display: inline-block;
  }

  &__product--box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    padding: 0 0.5rem;
    border-radius: 10px;
    background: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-bg
    );
  }

  &__footer {
  }
}
