.home {
  padding: 11rem 3rem 3rem 3rem;

  &__header {
  }

  &__product {
  }

  &__product--scroll {
    overflow-x: auto;
  }

  &__product--title {
    font-size: 2rem;
    font-weight: 600;
    color: $color-text;
    padding: 2rem 1rem 1rem 1rem;
    margin-top: 2rem;
  }

  &__product--box {
    display: flex;
    justify-content: flex-start;
    width: max-content;
    padding: 0 0.5rem;
    border-radius: 10px;
    background: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-bg
    );
  }

  &__footer {
  }
}
