$color-primary: #51734e;
$color-primary-light: #748f71;
$color-primary-dark: #415c3e;

$color-secondary: #fd7e14;
$color-secondary-light: #ff922b;

$color-bg: #f7f7f7;

$color-text: #25313c;
$color-text-light: #30404e;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
