.category {
  padding: 8.5rem 3rem 3rem 3rem;

  @include respond(phone) {
    padding: 14rem 1rem 1rem 1rem;
  }

  &__title {
    text-align: center;
  }

  &__product {
    padding: 0 0.5rem;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-bg
    );
    border-radius: 10px;
  }
}
