.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__banner {
    height: 30rem;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    position: relative;

    &--box {
      width: 100vw;
      height: 30rem;
      display: flex;
      margin-bottom: 2rem;
    }

    &--img {
      width: 98vw;
      object-fit: cover;
      transition: all 0.2s ease;
    }

    &--btn-left {
      position: absolute;
      font-size: 3.5rem;
      color: rgba(white, 0.4);
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 8;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }

    &--btn-right {
      position: absolute;
      font-size: 3.5rem;
      color: white;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      color: rgba(white, 0.4);
      z-index: 8;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }
  }

  &__category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-bottom: 2rem;

    &--label {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}
