.product-grid {
  width: 27rem;
  height: 38.8rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.1);

  &__img {
    width: 27rem;
    height: 27rem;
  }

  &__item--box {
    padding: 0 15px;
  }

  &__title {
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  &__price {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}
