.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo--box {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__logo--img {
    width: 5rem;
    height: 5rem;
  }
}
