.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
  gap: 5rem;
  padding: 3rem;

  &__container {
    background: linear-gradient(to top left, $color-text, $color-primary);
  }

  &__list {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    list-style: none;

    &--title {
      text-transform: uppercase;
      font-weight: 600;
    }

    &--item {
      font-weight: 300;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__icon--app-store {
    width: 30rem;
  }

  &__developer {
    font-size: 1.4rem;
    font-weight: 100;
    color: $color-bg;
    padding: 3rem;
    display: flex;
    gap: 1rem;

    &--icon {
      display: flex;
      align-items: center;
    }
  }
}
