@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.animation--left {
  animation: moveInLeft 0.9s ease-in-out;
}

.animation--right {
  animation: moveInRight 0.9s ease-in-out;
}

.animation--bottom {
  animation: moveInBottom 0.5s ease-out 0.7s;
  animation-fill-mode: backwards;
}

.animation__duration--midlow {
  animation-duration: 1.3s;
}

.animation__duration--low {
  animation-duration: 1.5s;
}
